/* #region base*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Tilt Neon", sans-serif;
    color: #ffcf7a;
    background-size: contain;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* #endregion */

/* #region backbone*/
.widget-wrap {
    margin: 0 auto;
    padding: 15px;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget {
    border-radius: 5%;
    width: 1024px;
    display: grid;
    grid-template-columns: 70% 30%;
    overflow: hidden;
    background: linear-gradient(
        108.15deg,
        rgba(0, 0, 0, 0.25) 2.55%,
        rgba(0, 0, 0, 0.25) 98.89%
    );
    box-shadow: 0px 4px 40px -1px rgb(0 0 0 / 30%);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.spinner {
    position: fixed;
    z-index: -1;
    color: ffcf7a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    transition: opacity 0.4s ease-in-out;
}

.spinner:after {
    animation: changeContent 0.8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 200px;
}

@keyframes changeContent {
    10% {
        content: "⠙";
    }
    20% {
        content: "⠹";
    }
    30% {
        content: "⠸";
    }
    40% {
        content: "⠼";
    }
    50% {
        content: "⠴";
    }
    60% {
        content: "⠦";
    }
    70% {
        content: "⠧";
    }
    80% {
        content: "⠇";
    }
    90% {
        content: "⠏";
    }
}
/* #endregion */

/* #region content*/
.weather {
    padding: 30px;
    transition: all 0.5s ease-in-out;
}

.weather__head {
    display: flex;
    align-items: center;
}

.weather__val-wrap {
    display: flex;
    align-items: flex-start;
}

.weather__val {
    font-size: 164px;
}

.weather__img {
    width: 200px;
}

.weather__celcius {
    width: 70px;
    fill: #ffcf7a;
}

.weather__date {
    font-size: 40px;
    margin-top: 15px;
}

.weather__time {
    font-size: 40px;
    margin-top: 5px;
}

.weather__stats {
    white-space: pre;
    margin: 30px 0 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather__stats-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.line {
    width: 20px;
    height: 0px;
    border: 2px solid #ffcf7a;
    transform: rotate(90deg);
    border-radius: 10px;
}

.weather__forecast-wrap {
    display: flex;
    align-items: center;
    gap: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ffcf7a;
    position: relative;
    margin: 0;
    padding: 0;
}

.swiper-pagination-bullet {
    background-color: #ffcf7a;
    transition: all 0.4s ease-in-out;
}

.swiper-pagination-bullet-active {
    transform: scale(1.2);
}

.swiper-slide {
    display: block;
    width: auto;
    opacity: 0.4;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-pagination {
    padding-top: 10px;
    position: relative !important;
    bottom: 0 !important;
    top: 0 !important;
}

.forecast__card {
    cursor: pointer;
    padding: 15px 10px;
    width: 100px;
    height: 150px;
    background: rgba(214, 214, 214, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* #endregion */

/* #region city*/
.city {
    padding: 30px 15px;
    background: rgba(214, 214, 214, 0.1);
    transition: all 0.5s ease-in-out;
}

.city__choose {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.city__name {
    font-size: 25px;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.city__name.active {
    width: 0px;
}

.city__search-input {
    width: 0px;

    border-style: none;
    outline: none;
    background: transparent;

    color: rgb(255, 207, 122);
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 2px;

    transition: all 0.5s ease-in-out;
}
.city__search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
}
.city__search-input:focus {
    padding: 5px 10px;
    border-radius: 0.25rem;
    border-bottom: 1px solid rgba(255, 207, 122, 0.5);
}
.city__search-input.active {
    width: 100%;
}

.city__search-btn {
    right: 0px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.city__search-btn.active {
    width: 0;
}

.city__search-btn-icon {
    object-fit: contain;
    width: 100%;
    max-width: 30px;
}

.city__list {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.city__list-item {
    cursor: pointer;
    margin-top: 5px;
    background-color: rgb(255, 207, 122, 0.1);
    border-radius: 5px;
    padding: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.city__sun {
    padding-top: inherit;
    display: flex;
    justify-content: space-around;
}

.city__sun-card {
    width: 100px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

.city__sun-img {
    width: 90px;
    object-fit: contain;
    height: 60px;
}

.city__sun-clock {
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.city__sun-clock_min {
    position: absolute;
    width: 100%;
    height: 2px;
    transition: transform 0.3s ease-in-out;
}
.city__sun-clock_hour {
    /* position: absolute; */
    width: 70%;
    height: 2px;
    transition: transform 0.3s ease-in-out;
}

.cloc-line:first-child {
    width: 50%;
    background: transparent;
}
.clock-line:last-child {
    width: 50%;
    border: 1px solid #ffcf7a;
    border-radius: 15px;
}
/* #endregion */

@media (max-width: 1070px) {
    .widget {
        max-width: 768px;
        display: flex;
        flex-direction: column-reverse;
    }
    .city {
        display: grid;
        grid-template-columns: 65% 35%;
        gap: 10px 0;
    }
    .city__choose {
        grid-column: span 2;
    }
    .city__sun {
        padding: 0;
        margin-top: auto;
        justify-content: end;
        gap: 10px;
    }
    .city__list {
        height: 190px;
    }
}

@media (max-width: 768px) {
    .city {
        grid-template-columns: 45% 55%;
    }
}

@media (max-width: 485px) {
    .widget {
        max-width: 450px;
        display: flex;
        flex-direction: column-reverse;
    }
    .city {
        grid-template-columns: 100%;
    }
    .city__choose {
        grid-column: span 1;
    }
    .city__sun {
        gap: 20px;
        justify-content: center;
    }

    .weather__head {
        justify-content: space-between;
    }
    .weather__val {
        font-size: 70px;
    }
    .weather__celcius {
        width: 30px;
        height: 50px;
    }
    .weather__img {
        width: 100px;
    }
    .weather__date {
        font-size: 30px;
        margin-top: 10px;
    }
    .weather__time {
        font-size: 20px;
        margin-top: 5px;
    }
    .weather__stats {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0 30px;
    }
    .weather__stats .line {
        display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}
