/* #region base*/
body {
    font-family: "Tilt Neon", sans-serif;
    color: #ffcf7a;
    background-size: contain;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* #endregion */

/* #region backbone*/
.widget-wrap {
    margin: 0 auto;
    padding: 0 15px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget {
    border-radius: 5%;
    width: 1024px;
    height: 768px;
    display: grid;
    grid-template-columns: 70% 30%;
    overflow: hidden;
    background: linear-gradient(
        108.15deg,
        rgba(0, 0, 0, 0.25) 2.55%,
        rgba(0, 0, 0, 0.25) 98.89%
    );
    box-shadow: 0px 4px 40px -1px rgb(0 0 0 / 30%);
    backdrop-filter: blur(20px);
    border-radius: 40px;
}

.spinner {
    position: absolute;
    z-index: 50;
    color: ffcf7a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.spinner:after {
    animation: changeContent 0.8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 200px;
}

@keyframes changeContent {
    10% {
        content: "⠙";
    }
    20% {
        content: "⠹";
    }
    30% {
        content: "⠸";
    }
    40% {
        content: "⠼";
    }
    50% {
        content: "⠴";
    }
    60% {
        content: "⠦";
    }
    70% {
        content: "⠧";
    }
    80% {
        content: "⠇";
    }
    90% {
        content: "⠏";
    }
}
/* #endregion */

/* #region content*/
.weather {
    padding: 30px;
}

.weather__head {
    display: flex;
    align-items: center;
}

.weather__val-wrap {
    display: flex;
    align-items: flex-start;
}

.weather__val {
    font-size: 164px;
}

.weather__img {
    width: 200px;
}

.weather__celcius {
    width: 70px;
    fill: #ffcf7a;
}

.weather__date {
    font-size: 40px;
    margin-top: 15px;
}

.weather__time {
    font-size: 40px;
    margin-top: 5px;
}

.weather__stats {
    white-space: pre;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather__stats-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.line {
    width: 20px;
    height: 0px;
    border: 2px solid #ffcf7a;
    transform: rotate(90deg);
    border-radius: 10px;
}

.weather__forecast-wrap {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    margin: 0;
    padding: 0;
}

.swiper-slide {
    display: block;
    width: auto;
}

.swiper-pagination {
    padding-top: 10px;
    position: relative !important;
    bottom: 0 !important;
    top: 0 !important;
}

.forecast-card {
    width: 130px;
    height: 210px;
    background-color: #ffcf7a;
}
/* #endregion */

/* #region city*/
.city {
    height: 100%;
    width: 100%;
    background: rgba(214, 214, 214, 0.1);
}
/* #endregion */
